<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="/home.css">
    </head>
    <body>
        <form action="/chats">
            
            <div class="div">
                <h1>WELCOME TO MONDODB LEARNING FROM <span>APNA COLLEGE</span></h1>

                <br>
                <br>
                <button>Go forward  ---<span class="span">&gt;&gt;&gt;</span></button>
                
            </div>
            
            
        </form>
    </body>
</html>